.selected mat-card {
  border: 2px solid #4E5871; /* Border applied to mat-card when parent is selected */
  box-shadow: 0px 2.706px 9.471px rgba(89, 15, 253, 0.20);
  z-index: 0;
}

mat-card {
  width: 156.303px;
  height: 113.214px;
  border-radius: 1em;
  background-color: white;
  box-shadow: none;
  border: 2px solid #4E5871;
  width: 18em;
  width: 12em;
  z-index: 0;
}

.dragButton, .deleteButton {
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #FFFFFF;
  border: 2px solid #B6BED2;
  border-radius: 0.5em;
  margin-top: 0.5em;
  flex-shrink: 0; 
  margin: 0.5em;
}

.dragButton {
  width: 4em;
  margin-right: auto;
}

.deleteButton {
  width: 3em;
  margin-left: auto;
}

mat-icon {
  color: #4E5871;
  padding: 0;
}

.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: none;
}
