<div cdkDrag (click)="toggleSelect($event)" >
  <div style="margin: 10px; display: inline-block; text-align: center;" [class.selected]="card.selected">
    <mat-card style="position: relative;">
      <!-- Your card content here -->
    </mat-card>
    <div style="display: flex; justify-content: flex-start; width: 100%;" cdkDragHandle>
      <!-- Apply the drag handle class to the drag button -->
      <button class="dragButton" *ngIf="isFirstSelected()"  (click)="handleDragButtonClick($event)">
        <mat-icon>drag_indicator</mat-icon>
      </button>       
      <!-- Ensure the delete button only appears if there are selected cards and intercept click event to stop event propagation -->
      <button class="deleteButton" *ngIf="isLastSelected()" (click)="handleDeleteButtonClick($event)">
        <mat-icon>delete</mat-icon>
      </button>      
    </div>  
  </div>
</div>
