<div class="outer-container">
  <div class="cards-container" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
    <ng-container *ngFor="let card of cards; let i = index">
      <app-card [card]="card"
                (toggle)="toggleSelect(i)"
                [isFirstSelected]="isFirstSelected.bind(this, i)"
                [isLastSelected]="isLastSelected.bind(this, i)"
                (deleteSelected)="deleteSelectedCards()"
                class="app-card">
      </app-card>
    </ng-container>
  </div>
